@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-accent: #FF8F9C;
  --color-blackish: #1b1b1b;
}

.container {
  margin-inline: auto;
  padding-inline: 15px;
}
@layer components{
  .header_top_icon_wrapper{
    @apply bg-gray-200 rounded-md p-[6px] cursor-pointer hover:bg-accent
  hover:text-white;
  }
}